@using Microsoft.AspNetCore.Mvc.Localization
@using System.Text.Json
@using Skoruba.Duende.IdentityServer.Admin.UI.Helpers
@inject IViewLocalizer Localizer
@{
  ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Localizer["PageTitle"]</h1>

@if (ViewBag.Notifications != null)
{
  var alerts = JsonSerializer.Deserialize<NotificationHelpers.Alert[]>(ViewBag.Notifications);

  foreach (var notification in alerts)
  {
    <h2 class="text-danger">@notification.Message</h2>
  }
}